/* Картка обертається */
* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.card {
    width: 500px;
    height: 300px;
    position: relative;
    perspective: 1000px;
}

.card__front, .card__back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.text,
.text-2 {
    font-size:  100px;
    text-align: center;
}

.text {
    color: red;
}

.card__front {
    background-color: black;
    transform: rotateY(0deg);
    transition: transform 1s;
}

.card__back {
    background-color: red;
    transform: rotateY(-180deg);
    transition: transform 1s;
}

.card:hover .card__front {
    transform: rotateY(180deg);
}

.card:hover .card__back {
    transform: rotateY(0deg);
}

